.description-box{
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	padding: 60px 50px;
}
.rate{
	box-sizing: border-box;
	display: flex;
}
.star{
	box-sizing: border-box;
	margin: 5px;
	width: 30px;
	height: 30px;
	background: url('../../../../sendemail/static/sendemail/images/star.png') 0 0 no-repeat;
	background-size: contain;
	transition: all 0.5s ease;
}
.star:hover{
	transform: rotate(360deg);
	transition: all 0.5s ease;
}
.main-image {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 50%;
}
.main-image img{
	margin: auto;
	box-sizing: border-box;
	padding-top: 60px;
	top: -60px;
	position: sticky;
	width: auto;
	height: calc(100vh - 150px);
}
.description-box .description{
	box-sizing: border-box;
	max-width: 50%;
	padding-left: 15px;
}
.description .main-title{
	color: #91D4FF;
	width: 100%;
	font-size: 45px;
	margin: 20px 0px;
}
.description .price{
	font-size: 30px;
	margin: 20px 0px;
}
.navigation-body{
	width: 100%;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
    align-content: center;
	margin: 20px 0px;
	padding-bottom: 5px;
    border-bottom: 1px solid black;

}
.navigation-link{
	padding: 0;
}
.navigation a{
	color: black;
	text-decoration: none;
	font-size: 50%;
	transition: all 0.5s ease;
}
.navigation a:hover{
	color: #91D4FF;
	transition: all 0.5s ease;
}
.description-container{
	box-sizing: border-box;
	margin: 30px 0px;
	transition: all 0.3s ease;
}
.description-container .title{
	font-size: 30px;
	margin: 30px 0px;
}
.description-container .description-text{
	line-height: 1.5;
	font-size: 16px;

}
@media(max-width: 1024px){
	.main-image{
		max-width: 45%;
	}
	.description-box .description{
		max-width: 55%;
	}
}
@media(max-width: 849px){
	.main-image{
		max-width: 100%;
	}
	.description-box .description{
		max-width: 100%;
	}
	.description .main-title{
		font-size: 40px;
	}
}
@media(max-width: 480px){
	.description-box{
		padding: 60px 30px;
	}
	.description .main-title{
		font-size: 30px;
	}
	.navigation a{
		font-size: 50%;
		padding: 10px 0px;
	}
	.star{
		margin: 3px;
    	width: 24px;
    	height: 24px;
	}
	.description .price {
		font-size: 25px;
	}
	.navigation-body{
		flex-direction: column;
	}
	.description-container .title{
		font-size: 25px;
		margin: 25px 0px;
	}
	.description-container .description-text {
    	line-height: 1.4;
    	font-size: 12px;
    }

}
@media(max-width: 320px){
	.description-box{
		padding: 60px 20px;
	}
	.description .main-title{
		font-size: 25px;
	}
	.navigation a{
		font-size: 50%;
		padding: 10px 0px;
	}
	.star{
		margin: 3px;
    	width: 20px;
    	height: 20px;
	}
	.description .price {
		font-size: 20px;
	}
	.navigation-body{
		flex-direction: column;
	}
	.description-container .title{
		font-size: 20px;
		margin: 25px 0px;
	}
	.description-container .description-text {
    	line-height: 1.4;
    	font-size: 10px;
    }

}